/*
CSS for Pyrite Pilot
*/

/* all */
body {
    padding-top: 20px;
}

/* index */
#sign-form #consent {
    max-height: 40%;
    overflow-y: scroll;
}
label.disabled, #signed-date {
    font-style: italic;
    color: Grey;
}

/* index & print */
#consent ul {
    list-style-type: none;
}

/* print */
#print-form div.panel-heading {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
}
#print-form table {
    width: 100%;
}
#print-title {
    font-size: 14px;
}

/* articles */
#article {
    border-radius: 4px;
}
.loading {
    height: 75px;
    width: 75px;
}
.screenshot {
    height: auto;
    width: 100%;
    max-width: 700px;
}
#likert {
    display: table;
    margin: 0 auto;
}
#likert table{
    max-width: 700px;
    background-color: #eee;
    border: 20px solid #eee;
    border-radius: 6px;
    border-collapse: separate;
}
#likert td {
    width: 14.28%;
}
#likert #labels td {
    padding: 0 4px;
}
#likert #radios td {
    padding: 8px 0;
}
